<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Cliente</title>
</head>
<body>
<h1>Editar Cliente</h1>
<form th:action="@{/clients/save}" th:object="${client}" method="post">
    <input type="hidden" th:field="*{idPerson}"/>
    
    <label>DNI: <input type="text" th:field="*{dni}"/></label><br/>
    <label>Nombre: <input type="text" th:field="*{name}"/></label><br/>
    <label>Fecha de Nacimiento: <input type="date" th:field="*{dateOfBirth}"/></label><br/>
    <label>Contraseña: <input type="password" th:field="*{password}"/></label><br/>

    <fieldset>
        <legend>Contacto</legend>
        <input type="hidden" th:field="*{contact.idContact}"/>
        <label>Calle: <input type="text" th:field="*{contact.street}"/></label><br/>
        <label>Número: <input type="text" th:field="*{contact.number}"/></label><br/>
        <label>Email: <input type="email" th:field="*{contact.email}"/></label><br/>
        <label>Teléfono: <input type="text" th:field="*{contact.phone}"/></label><br/>
        <label>ID Localidad: <input type="number" th:field="*{contact.locality.idLocality}"/></label><br/>
    </fieldset>

    <label>Código: <input type="text" th:field="*{code}"/></label><br/>

    <button type="submit">Actualizar</button>
</form>
</body>
</html>-->



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Cliente</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap Icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
	<!-- SimpleLightbox plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<h1 class="m-1 p-1">Nuevo Cliente</h1>
<form class="row g-3 m-1 p-1" th:action="@{/clients/save}" th:object="${client}" method="post">
	<div class="col-md-6">
      <label class="form-label" >DNI: <input class="form-control" type="number" th:field="*{dni}"/>
		<div th:if="${#fields.hasErrors('dni')}" class="alert alert-danger">
		  <p th:errors="*{dni}">el DNI debe tener 8 digitos </p>
		</div>
	  </label><br/>
	</div>
	
	<div class="col-md-6">
      <label class="form-label" >Nombre: <input class="form-control" type="text" th:field="*{name}"/>
		        <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger">
					<p th:errors="*{name}"></p>
				</div>
		</label><br/>
	</div>
	
	<div class="col-md-6">
        <label class="form-label" >Fecha de Nacimiento: <input class="form-control" type="date" th:field="*{dateOfBirth}"/>
			<div th:if="${#fields.hasErrors('dateOfBirth')}" class="alert alert-danger">
				<p th:errors="*{dateOfBirth}"></p>
			</div>	
		</label><br/>
	</div>
	
	<div class="col-md-6">
      <label class="form-label" >Contraseña: <input class="form-control" type="password" th:field="*{password}"/>
		        <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger">
					<p th:errors="*{password}"></p>
				</div>
		</label><br/>
    </div>
	
    <!-- Datos de contacto -->
    <fieldset class="row g-3">
        <legend>Contacto</legend>
		<div class="col-md-6">
			<label class="form-label">Calle: <input class="form-control" type="text" th:field="*{contact.street}"/>
				<div th:if="${#fields.hasErrors('contact.street')}" class="alert alert-danger">
					<p th:errors="*{contact.street}"></p>
				</div>
			</label><br/>
		</div>
       
		<div class="col-md-6">
           <label class="form-label">Número: <input class="form-control" type="number" th:field="*{contact.number}"/>
			  <div th:if="${#fields.hasErrors('contact.number')}" class="alert alert-danger">
			     <p th:errors="*{contact.number}"></p>
			   </div>
		   </label><br/>
		</div>
		
		<div class="col-md-6">
          <label class="form-label">Email: <input class="form-control" type="email" th:field="*{contact.email}"/>
			         <div th:if="${#fields.hasErrors('contact.email')}" class="alert alert-danger">
						   <p th:errors="*{contact.email}"></p>
					</div>
			</label><br/>
		</div>
		
		<div class="col-md-6">
          <label class="form-label">Teléfono: <input class="form-control" type="text" th:field="*{contact.phone}"/>
			  <div th:if="${#fields.hasErrors('contact.phone')}" class="alert alert-danger">
			     <p th:errors="*{contact.phone}"></p>
			  </div>
		   </label><br/>
		</div>
		
		<div class="col-md-6">
		  <label class="form-label" for="locality">Localidad:
			    <select class="form-select" name="contact.locality.idLocality" id="locality">
						<option value="0">Seleccione una localidad</option>
						<option th:each="locality : ${localities}"
						        th:value="${locality.idLocality}"
						        th:text="${locality.name}">
						</option>
			    </select>
				
			    <p th:if="${#fields.hasErrors('contact.locality.idLocality')}" class="alert alert-danger" th:errors="*{contact.locality.idLocality}"></p>
			     
		
		  </label>
		</div>
		
    </fieldset>

	<div class="col-md-6">
      <button type="submit" class="btn btn-primary">Guardar</button>
	</div>
</form>
</body>
</html>

