<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap Icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
	<!-- SimpleLightbox plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<h1 class="m-1">Clientes</h1>
<a href="/clients/form"><button type="button" class="btn btn-primary m-1">Agregar Cliente</button></a>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.idPerson}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.surname}"></td>
        <td th:text="${client.dni}"></td>
        <td>
            <!-- Botones de editar o eliminar -->
			<a th:href="@{'/clients/form/' + ${client.idPerson}}"><button type="button" class="btn btn-secondary me-2 px-3 py-2">Editar</button></a> |
			<a th:href="@{'/clients/delete/' + ${client.idPerson}}" onclick="return confirm('¿Seguro que deseas eliminar este cliente?')"><button type="button" class="btn btn-danger px-3 py-2">Eliminar</button></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
