<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Seleccionar Turno</title>
		<!-- Favicon-->
		<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
		<!-- Bootstrap Icons-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
		<!-- SimpleLightbox plugin CSS-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="/css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
		
	    <h2>Elegí un turno disponible</h2>
	
		<form th:action="@{/client/select}" th:object="${requestTurnDTO}" method="post">
		    <label for="clientId">Tu ID de cliente:</label>
		    <input type="number" th:field="*{clientId}" required /><br><br>
			<div th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}"></div>
			
		
		    <label for="turnId">Turno disponible:</label>
			<option value="" disabled selected>-- Seleccioná un turno --</option>
		    <select th:field="*{turnId}">
		        <option th:each="turno : ${turnos}" 
		                th:value="${turno.idTurn}" 
		                th:text="'Turno con ' + (turno.employee != null ? turno.employee.name : 'Empleado no asignado') + ' - ' + ${turno.date.date}">
		        </option>
		    </select><br><br>
			
			<div th:if="${#fields.hasErrors('turnId')}" th:errors="*{turnId}"></div>
		
		    <button type="submit">Confirmar turno</button>
		</form>
	
		 <p th:if="${param.success}">Turno asignado correctamente.</p>
	</body>
</html>